.chat{
    height: 100%;
    display: flex;
    flex-direction: column; 

    .messages{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
       
         h1 {
        font-weight: 300;
          }
      
        .message {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;  
             
            .avatarStatusWrapper {
                position: relative;
                display: inline-block;
              
                img {
                  width:30px;
                  height: 30px;
                  border-radius: 50%;
                }
              
                .onlineDot {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 10px;
                  height: 10px;
                  background-color: green;
                  border: 2px solid white;
                  border-radius: 50%;
                }
              }
              

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        span{
        font-weight: bold;
        }

       } 
    }

    .chatBox {
        flex: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        .top{
        background-color: #f7c14b85;
        padding: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
            .user{
            display: flex;
            align-items: center;
            gap: 20px;

                img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
                }
         
            }
           .close{
           cursor: pointer;
        } 
     }
        .center{
            background: url("/chat.jpg");
            height: 350px;
            overflow: scroll;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            .chatMessage{                
                width: 50%;
                padding: 5px;
                text-align: justify;
                background-color: #fff;
                // border-radius: 0px 20px 20px 20px;
                margin-top: 10px;
                text-align: left;
                
                --r: 15px; 
                --t: 18px;
                // max-width: 300px;
                padding: 20px;
                border-inline: var(--t) solid #0000;                
                  border-radius: calc(var(--r) + var(--t))/var(--r);
                  mask: 
                  radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
                    var(--_p) 100%/var(--t) var(--t) no-repeat,
                  linear-gradient(#000 0 0) padding-box;                 
                  
                &.own{
                    align-self: flex-end;
                    text-align: justify;
                    padding: 12px;
                    font-size: 14px;
                    
                    background-color: #0674dbba;
                    color: #fff;
               
                }
             

                p{
                    letter-spacing: 0px;
                    word-spacing: 1px;

                    // overflow-wrap: anywhere;
                    // width: 100%;
                    // height: auto;
                    // overflow-x: auto;
                }
               
                span{
                    font-size: 12px;
                    background-color: #f8f4f4;
                    color: #e0313185;
                    padding: 2px;
                    border-radius: 5px;
                    width: max-content;
                    
                }

            }
            .left {
                --_p: 0;
                border-bottom-left-radius: 0 0;
                // place-self: start;
              }
              .right {
                --_p: 100%;
                border-bottom-right-radius: 0 0;
                // place-self: end;
              }
            

        }

        .bottom{
            // border-top: 1px solid #f7c14b85;
            height: 60px;
            // background-color: gray;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            border-radius: 50px;
            margin-bottom: 20px;
            textarea{
                flex: 3;
                height: 80%;
                border: none;
                background-color: rgb(220, 216, 216);
                margin-left: 20px;
                margin-right: 20px;
                padding: 20px;
                background-color: #f3f2f2;
                border-radius: 50px;
            }
            button{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                height: 80%;
                color: #fff;
                background-color: #0766c0c9;
                border: none;
                margin-right: 20px;
                border-radius: 30px;
                cursor: pointer;
                img{
                    width: 16px;
                    height: 16px;
                }
                &:hover{
                    background-color: #064f93c9;
                }
            }

        }

    }

}