@import "../../responsive.scss";
.listPage{
    display: flex;
    height: 100%;
    @include sm{
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;
        // height: 10s0%;
    }

    
    .listContainer{
        flex: 6;
        @include sm{
            flex: none;
            overflow-y: scroll;
        }

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;
            @include sm{
                gap: 20px;
                padding-right: 0px;
                height: max-content;
            }
            
        }
    }
    .mapContainer{
        flex: 4;
        height: 100%;
        background-color: #fcf5f3;

        @include sm{
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
        }
    }
}