.popupContainer{
 display: flex;
 gap: 20px;
 padding: 0;
 margin: 0;

 img{
    width: 64px;
    height: 48px;
    border-radius: 5px;
    object-fit: cover;
 }
 .textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    b{
        // background-color: wheat;
        // display: flex;  
        border-radius: 3px;
        color: #a52a2a;
        // cont
    }
 }
}