@import "../../responsive.scss";
$ubuntu-font: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
$nunito-font: 'Nunito', 'Arial', 'Helvetica', sans-serif;

.layout{
    // background-color: purple;
    font: $nunito-font;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  
    @include lg{
        // background-color: blue;
        max-width: 1280px;
    }
 
    @include md{
        // background-color: green;
        max-width: 768px;
    } 
      @include sm{
        // background-color: red;
        max-width: 640px;      
    }
    .content{
    //    background-color: red; 
    //    flex: 1;
    height: calc(100vh - 100px);
    }


}