@import "../../responsive.scss";

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
       a{
        transition: all 0.4s ease;
        &:hover{
            scale: 1.05;
        }
        @include sm{
            display: none;
        }
       } 
    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            span{
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }

            img{
                width: 28px;
            }
        }

    }
    .right{
        flex: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #fcf5f3;
        height: 100%;
        .signMenu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .login{
                background-color: #1ca9c9;
                color: #fcf5f3;
                font-weight: bold;
            }
            .register{
                font-weight: bold;
            }
            @include sm{
                display: none ;
            }
        }
        
        @include md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px;
            margin: 20px;
            border-radius: 5px;
        }
        .user{
            display: flex;
            align-items: center;
            font-weight: bold;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
            .profile{
                padding: 12px 24px;
                background-color: #fece51;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                position: relative;
                .notification{
                    top: -8px;
                    right: -8px;
                    position: absolute;
                    background-color:red;
                    color: #fcf5f3;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .register{
            background-color: #fece51;
        }

        .menuIcon{
            display: none;
            z-index: 999;

            img{
               width: 36px;
               height: 36px;
               cursor: pointer; 
            }
            @include sm{
                display: inline ;
            }
        }
        .menu{
            position: absolute;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            top: 0;
            right: -50%;
            width: 50%;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.active{
                right: 0;
            }
            @include sm{
                a{
                    display: initial;
                }
            }
        }

    }
}    